.mouse {
	margin-top: 130px;
}

.mouse__sun h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #22343D;
	width: 189px;
}

.mouse__sun h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: #22343D;
	width: 224px;
}

.mouse__sun p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #22343D;
	width: 486px;
}

.mouse__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}